*, *:before, *:after {
  box-sizing: border-box;
}
html, body {
  overflow: auto;
  height: 100%;
  padding: 0; 
  margin: 0;
   font-size: 18px;
  line-height: 1.7;
}
.container {
  width: 100vw;
  height: 100vh;
  background-image: repeating-linear-gradient(135deg, #146e41 0px, #0e811e 30px, transparent 30px, transparent 50px, #d6440a 50px, #c53f3f 80px, transparent 80px, transparent 100px);
  padding: 23px;
}
.container .inner { 
  background: white; 
  width: 100%; 
  height: 100%;
  padding: 2rem;
}



.atkinson-hyperlegible-mono, p, span, div, li, a, h1, h2, h3, h4, h5, h6 {
  font-family: "Atkinson Hyperlegible Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 600px) {
  body {
    font-size: 20px;
  }

  .container {
    padding: 12px;
  }

  .container .inner {
    padding: 1.2rem;
  }
}

.container .inner {
  overflow-y: auto;
  border-radius: 12px;
}